@import url('https://fonts.googleapis.com/css?family=Oswald:500');

body {
  background-color: darkgray;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

nav {}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}
